.table-container{
    display: flex;
    justify-content: center;
    table {
        border-collapse: collapse;
        width: 80%;
        
        th {
            background-color: #f2f2f2;
            font-weight: bold;
            padding: 0.8rem;
            text-align: left;
            
            @media only screen and (max-width: 768px) {
                display: none;
            }
        }
        
        td {
            border-bottom: 1px solid #ddd;
            padding: 10px;
            
            img {
                height: 60px;
          width: 60px;
        }
        .icon{
            margin: 0 1rem;
            cursor: pointer;
            font-weight: bold;
        }
        
        @media only screen and (max-width: 768px) {
            display: block;
            text-align: center;
            
            &:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
    
    tfoot {

        td {
          background-color: #f2f2f2;
          font-weight: bold;
          text-align: center;
          padding: 1rem;
          border-top: 1px solid black;
          
          &:first-child {
            text-align: left;
          }
        }
        
              }
                  
    
    tbody {
        tr {
            @media only screen and (max-width: 768px) {
                display: block;
                margin-bottom: 20px;
            }
        }
    }
} 
}