.checkout-item {
  display: table-row;

  td {
    display: table-cell;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    &:first-child {
      img {
        height: 60px;
        width: 60px;
      }
    }

    &:nth-child(2) {
      width: 40%;
    }

    &:nth-child(3) {
      width: 20%;
      text-align: center;

      .icon {
        margin: 0 1rem;
        cursor: pointer;
        font-weight: bold;
      }
    }

    &:last-child {
      width: 10%;
      text-align: center;

      .icon {
        margin: 0 1rem;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}
